<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <%-include('components/tabs.ejs')%>
    <table class="table">
      <thead>
        <tr>
          <th>
            <input type="checkbox" name="" value="">
          </th>
          <th>ID</th>
          <th>姓名</th>
          <th>邮箱</th>
          <th>标题</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <%datas.forEach(data=>{%>
        <tr>
          <td>
            <input type="checkbox" name="" value="">
          </td>
          <td><%=data.ID%></td>
          <td><%=data.name%></td>
          <td><%=data.email%></td>
          <td><%=data.title%></td>
          <td><%=data.content%></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
